# output folder
output/

# Temporary files created in linux
*~

# Gemfile lock, should be system dependant
#  the same with vendor and bundle
Gemfile.lock
vendor/bundle
.bundle

# Temporary directory
tmp/

# Taxonomy databases
taxdb.btd
taxdb.bti

# BLAST nucleotides databases
*.nhr
*.nin
*.nsq
#
# BLAST protein databases
*.phr
*.pin
*.psq

# Folder to keep custom configuration files
yml/
scripts/
